body {
    padding-top: 50px;
    color: #676767;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 10px;
}

.listx-content {
    padding: 40px 15px;
}

.form-control:focus {
    border-color: #FF4C4C;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #FF4C4C;
}



.navbar.navbar-transparent.navbar-inverse .navbar-inner {
    background-color: white;
    color: #676767;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}


@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        background-color: #ffffff;
    }
}


.header-image {
    margin-top: -7px;
    margin-right: 40px;
}


.btn-default {
    border: 1px solid #FF4C4C;
    color: #FF4C4C;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #FF4C4C;
    outline: none;
    color: white;
    background-color: #FF4C4C;
}

a {
    font-weight: 600;
    color: #676767;
}

a:focus, a:hover {
    color: #FF4C4C;
    background-color: transparent;
}

nav>li>a {
    font-weight: 600;
    color: #676767;
    font-size: 16px;
}

nav>li>a:focus, nav>li>a:hover {
    color: #FF4C4C;
    background-color: transparent;
    text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #FF4C4C;
    background-color: transparent;
    text-decoration: none;
}

.panel-heading {
    height: 66px;
}


.input-group.pull-right {
    margin-top: 5px;
}

.preloader-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}